html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.principles {
  background-color: white;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  width: 100%;

  &__item {
    display: flex;
    width: 48%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    &:hover {
      cursor: pointer;
      background-color: lightgrey;
      border-radius: 0.25rem;
    }
  }

  &__title {
    background-color: #7c8cfd;
    color: black;
    width: 10rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 0.25rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 1rem;
  }
  &__content {
    flex-grow: 1;
    text-align: left;
    justify-content: left;
    margin: 0;
    font-size: 0.8125rem;
  }
}
